<div class="col-md-4"></div>
<div class="col-md-4">
 <h2 class="fs-2 mb-5 product-card">
      <img src="{{ asset('images/logo/pizza.png') }}"
        alt=""
        width="100"
        height="100" />&nbsp;<span class="text-decoration-underline">
        {% trans %}Pizza{% endtrans %}
      </span>
    </h2>

          {% if findOneById(id).category.id == 1 %}
            {% if id % 2 == 0 %}
              <div class="col-md-6">
                {% include '/includes/card.html.twig' %}
              </div>
            {% endif %}
            {% if id % 2 != 0 %}
              <div class="col-md-6">
                {% include '/includes/card.html.twig' %}
              </div>
            {% endif %}
    
          {% endif %}

</div>
<div class="col-md-4"></div>
