
<div class="row  row-cols-2 row-cols-sm-3 footer">
<span class="m-auto col d-block fs-6 jfl">jfDevFromParis</span>
<span class="m-auto col d-block"><i class="far fa-copyright"></i>&nbsp;&nbsp;&nbsp;{{ "now"|date("m/d/Y") }}</span>
<span class="m-auto col d-block">CGV</span>
<span class="m-auto col d-block">Confidentialité</span>
<span class="m-auto col d-block">Conditions d'Utilisations</span>
</div>