<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>

  <a href="#" class="menu-item">
    <div class="grid_menu">
      <div>
        <i class="fas fa-shopping-cart fs-4"></i>
      </div>
      <span class="fs-6 pt-2 fw-bold">Commander</span>
    </div>
  </a>
  <a href="#" class="menu-item">
    <div class="grid_menu">
      <div>
        <i class="far fa-question-circle fs-4"></i>
      </div>
      <span class="fs-6 pt-2 fw-bold">Pizza-mama ?</span>
    </div>
  </a>
  <a href="#" class="menu-item">
    <div class="grid_menu">
      <div>
        <i class="fas fa-mobile-alt fs-4"></i>
      </div>
      <span class="fs-6 pt-2 fw-bold">Contact</span>
    </div>
  </a>
  <a href="{{ path('app_login')}} " class="menu-item">
    <div class="grid_menu">
      <div>
        <i class="fas fa-cogs fs-4"></i>
      </div>
      <span class="fs-6 pt-2 fw-bold">Admin</span>
    </div>
  </a>


</nav>


<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="shadowed-goo">

      <feGaussianBlur in="SourceGraphic" result="blur" stddeviation="10"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>
      <feGaussianBlur in="goo" stddeviation="3" result="shadow"/>
      <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow"/>
      <feOffset in="shadow" dx="1" dy="1" result="shadow"/>
      <feComposite in2="shadow" in="goo" result="goo"/>
      <feComposite in2="goo" in="SourceGraphic" result="mix"/>
    </filter>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stddeviation="10"/>
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"/>
      <feComposite in2="goo" in="SourceGraphic" result="mix"/>
    </filter>
  </defs>
</svg>
