<div class="bg-white logo-bar nav"></div>
<div class="bg-transparent fixed-top">
  <div class="rounded-circle bg-logo stage-logo">
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
  </div>
  {% include "includes/searchBox.html.twig" %}
</div>
<div class="col-12 bg-white band"></div>
