<div class="bg-white logo-bar">
  <div class="rounded-circle bg-logo stage-logo">
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
    <div class="layer-logo start-50 top-50 translate-middle-x"></div>
  </div>
   <div class="searchBox">

            <input class="searchInput"type="text" name="form[query]" placeholder="Recherchez" id="searchbox" autocomplete="on">
            <button class="searchButton" href="#">
               <i class="fas fa-search"></i>
            </button>

</div>
<div class="col-12 bg-white band"></div>
