<h2 style="font-size:14px">CONDITIONS GENERALES DE VENTE</h2>
<h5 style="font-size:10px">Applicables à compter du.02/12/2021</h5>
<h3 style="font-size:13px">Clause n° 1 : Objet et champ d'application</h3>
<span style="font-size:11px; text-align:justify">
  Les présentes conditions générales de vente (CGV) constituent le socle de la négociation commerciale et sont systématiquement adressées ou remises à chaque acheteur pour lui permettre de passer commande.
        Les conditions générales de vente décrites ci-après détaillent les droits et obligations de la société Pizza Mama SARL et de son client dans le cadre de la vente des marchandises suivantes : ... (le vendeur doit recenser les marchandises soumises aux CGV).
        Toute acceptation du devis/bon de commande en ce compris la clause « Je reconnais avoir pris connaissance et j'accepte les conditions générales de vente ci-annexées » implique l'adhésion sans réserve de l'acheteur aux présentes conditions générales de vente.
</span>
<h3 style="font-size:13px">Clause n° 2 : Prix</h3>
<span style="font-size:11px; text-align:justify">
  Les prix des marchandises vendues sont ceux en vigueur au jour de la prise de commande. Ils sont libellés en euros et calculés hors taxes. Par voie de conséquence, ils seront majorés du taux de TVA et des frais de transport applicables au jour de la commande.
  
        La société Pizza Mama SARL s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, elle s'engage à facturer les marchandises commandées aux prix indiqués lors de l'enregistrement de la commande.
</span>
<h3 style="font-size:12px">Clause n° 3 : Rabais et ristournes</h3>
<span style="font-size:11px; text-align:justify">
  Les tarifs proposés comprennent les rabais et ristournes que la société Pizza Mama SARL serait amenée à octroyer compte tenu de ses résultats ou de la prise en charge par l'acheteur de certaines prestations
</span>
<h3 style="font-size:12px">Clause n° 4 : Escompte</h3>
<span style="font-size:11px; text-align:justify">
  Aucun escompte ne sera consenti en cas de paiement anticipé.
</span>
<h3 style="font-size:12px">Clause n° 5 : Force majeure</h3>
<span style="font-size:11px; text-align:justify">
  Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.
  
        À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de Paris.
  
  
  
        Fait à Paris, le .02/12/2021
  
        Jean Durand Martin
        Gérant
</span>
