<h2 style="font-size:14px">Conditions d’utilisation des sites</h2>

<h3 style="font-size:13px">Conditions d’utilisation</h3>
<h4 style="font-size:12px">1. Introduction</h4>
<span style="font-size:11px; text-align:justify">
  Veuillez lire attentivement toutes les conditions de ce document (les « Conditions ») car elles expliquent vos droits et responsabilités lorsque vous consultez le site ou les flux, médias sociaux, bulletins d’information, entrepôts de code source et courriers électroniques associés (ensemble avec les Sites Web, collectivement appelés les « Communications »). En accédant aux Communications, ou en vous inscrivant pour les recevoir, vous acceptez d’être lié par les présentes Conditions.
      Notre site comprend le domaine
  <code>
    https://pizza.mama.it.jfdevfromparis.com/</code>.
</span>
<h4 style="font-size:12px">2. Inscription à un compte</h4>
<span style="font-size:11px; text-align:justify">
  Certains sites Web exigent que vous vous inscriviez pour obtenir un compte afin d’accéder à des fonctions supplémentaires de notre site web. Vous êtes responsable de toutes les activités sur votre compte.
      Certains sites Web vous permettent de créer un nom d’utilisateur pendant l’inscription. Votre utilisation d’un nom d’utilisateur doit être conforme à notre Politique en matière d’utilisation acceptable.
</span>
<h4 style="font-size:12px">3. Octroi de licence de contenu</h4>
<span style="font-size:11px; text-align:justify">
  Nos Communications comportent du contenu tel que des articles, images, photographies, commentaires, codes logiciels, clips audio et vidéo et d’autres documents (collectivement, le « Contenu »). Le Contenu est créé pour Pizza-Mama, des collaborateurs des projets Pizza-Mama et d’autres sources.
      Le contenu créé par Pizza-Mama est en général mis à la disposition du public et réutilisé grâce à des licences générales ouvertes telles que du patrimoine naturel (pour les documents expressifs) ou par le biais de licences publiques de Pizza-Mama (pour les codes logiciels). Dans la plupart des cas, nous demandons aux collaborateurs de Pizza-Mama de libérer le Contenu dans le cadre de licences ouvertes.
      Certains Contenus de nos Communications sont acquis auprès de sources qui interdisent l’utilisation du Contenu sans une autorisation préalable. Lorsque cela est possible, le bas de page du Contenu ou du Site Web affiche un avis avec la licence applicable. Vous acceptez de vous conformer à ces avis. Veuillez noter ce qui suit :
</span>
<ul>
  <li style="font-size:11px; text-align:justify">
    Certains Contenus indiquent expressément que l’auteur ne souhaite pas qu’une licence ouverte soit applicable. Vous devez contacter l’auteur ou l’agent de l’auteur pour obtenir la permission d’utiliser ce Contenu. Les questions à propos du contenu créé par Pizza-Mama doivent être envoyées à :
    <code>https://pizza.mama.it.jfdevfromparis.com/</code>
    .
  </li>
  <li style="font-size:11px; text-align:justify">
    Certains contenus contiennent des marques de commerce, emballages, logos et actifs de la marque de Pizza-Mama et d’autres parties (« Marques de commerce »). Sauf dans certains cas limités, les Marques de commerce ne peuvent pas être utilisées sans une autorisation préalable écrite du propriétaire de la Marque de commerce.  En savoir plus sur les marques de commerce de Pizza-Mama.
  </li>
  <li style="font-size:11px; text-align:justify">
    Les logiciels utilisés par nos Sites Web sont fournis sous licence MPL ou autres licences open source libres. Pour plus d'informations sur une licence spécifique, veuillez consulter le code source applicable ou l'entrepôt GitHub.
  </li>
</ul>
<h4 style="font-size:12px">4. Signaler un abus</h4>
<span style="font-size:11px; text-align:justify">
  Pour de plus amples renseignements sur la façon de signaler un abus de droit d’auteur ou de marque de commerce, veuillez consulter le document suivant :
  <code>https://pizza.mama.it.jfdevfromparis.com/</code>.
</span>
<h4 style="font-size:12px">5. Durée ; résiliation</h4>
<span style="font-size:11px; text-align:justify">
  Ces Conditions resteront en vigueur jusqu’à ce que l’une des parties, vous ou Pizza-Mama, ne les résilie. Vous pouvez les résilier à tout moment pour quelque raison que ce soit en arrêtant d’utiliser nos Communications et, le cas échéant, en supprimant votre compte.
    Nous pouvons suspendre ou résilier votre accès à nos Communications à tout moment pour quelque raison que ce soit, si nous estimons raisonnablement, y compris mais sans limitation, que : (i) vous avez violé les présentes Conditions, notre Politique d’utilisation acceptable ou toute autre politique pertinente ; (ii) vous nous exposez à un risque ou risque juridique potentiel ; ou (iii) la fourniture des Communications n’est plus commercialement viable à votre égard.
    Dans tous ces cas, les présentes Conditions seront résiliées, sauf lorsque les sections suivantes continueront à être applicables : Indemnisation, Clause de non-responsabilité ; Limitation de responsabilité, Dispositions diverses
</span>
