<h2 style="font-size:14px">Modalités de diffusion de l'information</h2>
<h5 style="font-size:10px">Applicables à compter du.02/12/2021</h5>

<span style="font-size:11px; text-align:justify">
 Nous collectons ces données afin de gérer votre commande. Nous utilisons également votre adresse électronique pour vous adresser des publicités concernant des produits analogues à ceux que vous commandez. Si vous ne souhaitez pas recevoir de telles sollicitations, cochez la case ci-dessous :

Ces données peuvent également permettre à la société Pizza Mama SARL et à ses partenaires commerciaux de vous adresser par courriel d’autres publicités. Pour le permettre, vous devez cocher les cases ci-dessous :

J’accepte que la société Pizza Mama SARL me propose par courriel de nouveaux produits ou services.
J’accepte de recevoir par courriel de la publicité de la part des partenaires de la société Pizza Mama SARL.

</span>
<span style="font-size:11px; text-align:justify">
  Tout litige relatif à l'interprétation et à l'exécution des présentes conditions générales de vente est soumis au droit français.

        À défaut de résolution amiable, le litige sera porté devant le Tribunal de commerce de Paris.



        Fait à Paris, le .02/12/2021

        Jean Durand Martin
        Gérant
</span>
