$bg-standard: #e5e5e5;
$bg-central-zone: #fffafa;
$bg-central-card: darkgray;
$bg-logo: rgba(220, 20, 60, 0.164);
$search-time: 800ms;
$reset-time: 150ms;

body {
  position: relative;
  background-color: $bg-standard !important;
  // width: 100vw;
  max-height: fit-content;
  // height: 100vh !important;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

.bg-logo {
  background-color: $bg-logo;
  z-index: -50;
}

.bg-logo-fade {
  background-color: $bg-logo;
}

.bg-lightgray {
  background-color: $bg-standard;
}

.bg-central-zone {
  background-color: $bg-central-zone;
}

.logo-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 8rem;
  z-index: 300;
}

.stage-logo {
  position: -webkit-sticky;
  position: sticky;
  top: 1vh;
  right: 0;
  bottom: 0;
  left: 0;
  height: 12rem;
  width: 12rem;
  margin: 0 auto;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer-logo {
  width: 100%;
  height: 100%;
  position: fixed;
  transform-style: preserve-3d;
}

.layer-logo:after {
  font: 2rem 'Alex Brush', cursive, 'Roboto', 'Trebuchet MS', Helvetica,
    sans-serif;
  content: 'Pizza Mama';
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0px;
  color: whitesmoke;
  letter-spacing: -1px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer-logo:nth-child(1):after {
  transform: translateZ(0px);
}

.layer-logo:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer-logo:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer-logo:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer-logo:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer-logo:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer-logo:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer-logo:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer-logo:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer-logo:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer-logo:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer-logo:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer-logo:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer-logo:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer-logo:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer-logo:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer-logo:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer-logo:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer-logo:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer-logo:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer-logo:nth-child(n + 10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer-logo:nth-child(n + 11):after {
  -webkit-text-stroke: 7px crimson;
  text-shadow: 6px 0 6px rgb(153, 1, 31), 5px 5px 5px rgb(153, 1, 31),
    0 6px 6pxrgb (153, 1, 31);
}

.layer-logo:nth-child(n + 12):after {
  -webkit-text-stroke: 10px rgb(245, 1, 50);
}

.layer-logo:last-child:after {
  -webkit-text-stroke: 13px rgba(0, 0, 0, 0.1);
}

.layer-logo:first-child:after {
  color: #fff;
  text-shadow: none;
}

.band {
  position: -webkit-sticky;
  position: sticky;
  z-index: 9;
  width: 100vw;
  height: 5rem;
  border-bottom: 2px solid crimson;
}

.show {
  position:absolute;
  top:0rem;
  width: 100vw;
  height: 20vh;
  z-index: 10;
  // background-color: $bg-standard !important;
}

.title-bar {
  position: fixed;
  top: 0px;
  margin-bottom: 10px;
  width: 100vw;
  height: 8rem;
  z-index: 10;
  background-color: $bg-standard !important;
  border-bottom: 2px solid crimson;
}

.title {
  position: fixed;
  top: 18vh;
  left: 50vw;
}

// .product-card {
//   // z-index: -100;
// }

.text-presentation {
  color: crimson;
}

.item-card {
  transition: 0.5s;
  cursor: pointer;
}

.item-card-title {
  transition: 1s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.Site-menu {
  position: -webkit-sticky;
  position: sticky;
  // transform: translateX(-15%);
  bottom: 0;
}

.spied {
  position: relative;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: crimson !important;
  border-color: $bg-logo!important;
}

.bg-title {
  background-color: $bg-logo;
}

.cart {
  position: -webkit-sticky;
  position: sticky;
  top: 240px;
  margin-left: 1350px;
  z-index: 10;
}

.modal-text {
  font-size: 16px !important;
}

.searchBox {
  position: absolute;
  top: 65%;
  left: 80%;
  transform:  translate(-50%,50%);
  background: rgba(220, 20, 60, 0.616);
  height: 50px;
  border-radius: 40px;
  padding: 10px;
}

.searchButton {
  color: white;
   width: 40px;
  height: 40px;
  border-radius: 50%;
  background: crimson;
  // display: flex;
  justify-content: center;
  align-items: center;
  // transition: 0.4s;
}

.searchInput {
  border:crimson;
  background: white;
  outline:none;
  float:left;
  padding: 0;
  color: #dc143c;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 250px;
}

.resultBox{
  position: -webkit-sticky;
  position: sticky;
  left:750px;
}

.bg-lightgray-search {
  position: relative;
  top:0;
  padding-top:10px;
  background-color: $bg-standard;
  z-index: -1000;
}

.menu-wrapper {
  position:relative;
  bottom:-10px;
}

.noHover{
  pointer-events: none;
}

.about-us{
  font-size: 1.5em;
  text-align: justify;
  font-weight: normal;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}

.searchBox {
  position: absolute;
  top: 134%;
  left: 50%;
}

.lateral-col{
  display:none;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  img.img-fluid.img-thumbnail.rounded-start {
    position: absolute;
    margin: auto auto;
    left: 10px;
    float: left;
  }

  .card-text,
  .card-title {
    text-align: end;
    font-size: 16px !important;
  }

  .show {
    height: 7vh;
  }

  //TODOs mettre le css pour le Site-menu


  .searchBox {
    position: absolute;
    top: 80%;
    left: 50%;
  }

  .list-group{
    width:20%;
  }

  .lateral-col{
    display:none;
  }

  .bg-lightgray-search {
    position: relative;
    top:24vh;
    padding-top:10px;
    background-color: $bg-standard;
    z-index: -1000;
  }
}
