{% extends 'base.html.twig' %}

{% block title %}
  {% trans %}Inscription{% endtrans %}
{% endblock %}

{% block body %}

  <div class="row position">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="">
        <h1 class="h3 mb-5 font-weight-normal text-center position1">{% trans %}Inscrivez-vous s'il vous plaît !{% endtrans %}</h1>
        <span class="text-center d-block">{% trans %}Pour passer commande l'inscription est obligatoire{% endtrans %}</span>
        <div class="card my-5 border boder-2 mx-auto position2 position-relative" style="max-width: 540px;">
          <div class="rounded-circle circle position2 position-absolute top-0 start-50 translate-middle pizza-circle"></div>
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{{ asset('build/images/pizza.jpg') }}" class="img-fluid rounded-start d-none d-sm-block" alt="miam une pizza" style="max-width:270px; max-height:">
            </div>
            <div class="col-md-6">
              <div class="card-body text-center justify-content-center my-5">
                {{ include('user/_form.html.twig') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}
